html,
body {
    height: 99vh;
    width: 99vw;

    max-height: 99vh !important;
    max-width: 99vw !important;
}

h1{
  font-weight: bold;
  text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 42px;

  color: lightgray;
  margin-top: 2vh;
  margin-bottom:2vh;
}

h2{
    font-family: 'Abel', sans-serif;
    color: lightgray;
}

body {
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

hr {display: block;height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; width: 95%;}
footer {padding:50px 0 65px; margin-top: 50px; width: 95%;}
footer .list-inline{margin:0;padding:0}
footer .copyright{font-size:14px;margin-bottom:0;text-align:center}

.swiper-container {
  width: 100vw;
  height: 85vh;

}

.swiper-button-next,
.swiper-button-prev {
    color: #2867b2 !important;
    line-height: 10px !important;

}

.swiper-pagination{
    margin-top: 100px;
}
.swiper-pagination-bullet {

    height: 1.25vw !important;
    width: 1.25vw !important;

    opacity: 0.6;

    background-color: #2867b2 !important;

}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

    /* Size limit */
  max-width: 100%;
  max-height: 100%;

  /* Other required settings */
    object-fit: none;


}

.bg1{
     background: url("../slideshow/photo001.jpg") center center no-repeat;
}

.bg2{
    background: url("../slideshow/photo002.jpg") no-repeat center center;
    object-fit: none;
}

.bg3{
    background: url("../slideshow/photo003.jpg") no-repeat center center;
    background-size: contain;
}

.bg4{
    background: url("../slideshow/photo004.jpg") no-repeat center center;
    background-size: contain;
}

.bg5{
    background: url("../slideshow/photo005.jpg") no-repeat center center;
    background-size: contain;
}

.bg6{
    background: url("../slideshow/photo006.jpg") no-repeat center center;
    background-size: contain;
}

.bg7{
    background: url("../slideshow/photo007.jpg") no-repeat center center;
    background-size: contain;
}

.bg8{
    background: url("../slideshow/photo008.jpg") no-repeat center center;
    background-size: contain;
}

.bg9{
    background: url("../slideshow/photo009.jpg") no-repeat center center;
    background-size: contain;
}

.container-fluid {
    position: relative !important;
    top: 3vh;
    text-align:center;
}

.icon {
    background: black;
}

.icon img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}


#signature{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 42px;
}


/* MOBILE FULLSCREEN and TABLET */
@media only screen and (max-width: 1200px) and (min-width: 600px) {
    .swiper-pagination-bullet {
        height: 2vw !important;
        width: 2vw !important;
    }
    .bg1{
         background: url("../slideshow/photo001-mobile.jpg") center center no-repeat;
    }

    .bg2{
        background: url("../slideshow/photo002-mobile.jpg") no-repeat center center;
        object-fit: none;
    }

    #signature{
        display: none;
    }

    .arrow{
        display: none;
    }

    h1{
        margin-top: 2vh;
        font-size: 32px;
    }

    h2{
        font-size: 24px;
    }

    .container-fluid{
        margin-left:4vw;
    }

    .offset-1{
        margin-left: 5vw;
    }

    .icon{
        margin-left: 10px;
        margin-right: 5px;

    }

    .container-fluid{
        padding-bottom:50px !important;
    }

}

/* MOBILE */
@media only screen and (max-width: 600px) {

    .swiper-pagination-bullet {
        height: 3.75vw !important;
        width: 3.75vw !important;
    }
    .bg1{
         background: url("../slideshow/photo001-mobile.jpg") no-repeat center center;
    }

    .bg2{
        background: url("../slideshow/photo002-mobile.jpg") no-repeat center center;
        object-fit: none;
    }
    .arrow{
        display: none;
    }

    #signature{
        position: relative !important;
        top: 3vh;
        left: 10vw;

    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 24px;
    }

    .container-fluid{
        padding-bottom:50px !important;
    }

    .icon{
        padding-top: 3vh;
        margin-bottom: 3vh;
    }

    .offset-1{
        margin-left: 0;
    }

}